<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sal's Portfolio Page </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container bg-dark" style="margin-top: 7%;">
      <a class="navbar-brand" href="#" style="color: whitesmoke; font-weight: 800; font-size: 50px; ">Hello! This is Saloni Tayal</a>
      <br/>
      <a class="navbar-brand" href="#" style="color:rgb(189, 189, 189);font-weight: 300; font-size: 25px; ">
        I am Computer Science and Engineering Student. 
        <br/>I like working on the Website Development & Website Designing.
        <br/> I am quite enthusiastic and curious person. I have also worked on Machine Learning.
        
        <br/>I like reading a lot about topics like Artificial Intelligence, Philosophy, Psychology, 
        <br/>Spirituality, History, Indology and Politics.</a>
      

    </div>
</body>
</html>
